<div id="sidebar" class="three columns">
        <ul class="nav-bar vertical">
          <li><%= link_to 'Manage posts', admin_posts_path%></li>
          <li><%= link_to 'Manage users', admin_users_path%></li>
          <li><%= link_to 'Manage pages', admin_pages_path%></li>
        </ul>
      </div>