<div id="sidebar" class="three columns">
  <ul class="nav-bar vertical">
    <li><%= link_to glyph_helper('[') + 'Posts', admin_posts_path%></li>
    <li><%= link_to glyph_helper('o') + 'Users', admin_users_path%></li>
    <li><%= link_to glyph_helper('j') + 'Pages', admin_pages_path%></li>
  </ul>
</div>