//= require foundation_and_overrides
//= require redactor-rails
//= require scaffolding_REMOVE 

@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url(font-path('foundation-icons-general.eot'));
  src: url(font-path('foundation-icons-general.eot?') + '#iefix') format('embedded-opentype'),
       url(font-path('foundation-icons-general.woff')) format('woff'),
       url(font-path('foundation-icons-general.ttf')) format('truetype'),
       url(font-path('foundation-icons-general.svg') +'#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
.glyph {  font-size: 16px; line-height: 1; }
.glyph.general { font-family: 'FoundationIconsGeneral'; }

@import "compass/layout/sticky-footer";
@include sticky-footer(75px);

body {
  background: url('/assets/light_toast.png') 0 0 repeat;
  // background: #bada55;
}


#login-form {
  @extend .columns;
  @extend .four;
  @extend .centered;
}

table { width: 100%;} 


// TODO: Export this 
.pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em; }
  // .disabled {
  //   color: #aaaaaa; }
  .current {
    font-style: normal;
    font-weight: bold;
    color:#fff;
    background-color: #da34be;;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;}
  a {
    text-decoration: none;
    // color: black;
    &:hover, &:focus {
      text-decoration: underline; } } }



 .admin table .button-group { margin-bottom:0;}     
